
{% load static %}

{% block content %}
<header>
    
</header>

<nav>
    <ul>
        <li><a href="{% url 'coreApp:main' %}"> Main</a></li>
        <li><a href="{% url 'coreApp:home' %}"> Home</a></li>

        {% if user.is_authenticated %}
        <a href="#" style ="color: #ffefef;"> { Welcome back-{{ user.username
        }}}</a> 
        <li><a href="{% url 'accounts:logout' %}">logout</a></li>
        {% else %}
        <li><a href="{% url 'accounts:register' %}">Register</a></li>
        <li><a href="{% url 'accounts:login' %}">Login</a></li>

        
        

        {% endif %}

    </ul>
</nav>
{% endblock %}
 