{% include 'commons/base.html' %}
{% block content %}

<style>
    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 65vh;
        background: hsl(187, 87%, 56%);
        /* Light gray background */
    }

    .form-container form {
        width: 80%;
        /* Adjust width as needed */
        max-width: 400px;
        /* Limit form width */
        padding: 20px;
        /* Add some padding */
        background: #fff;
        /* White background for the form */
        border-radius: 8px;
        /* Rounded corners */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        /* Subtle shadow effect */
    }

    .form-container form button {
        display: block;
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        /* Blue submit button */
        color: #fff;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .form-container form button:hover {
        background-color: #0056b3;
        /* Darker blue on hover */
    }
</style>

<div class="form-container">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Book Property</button>
    </form>
</div>
{% endblock %}