{% block content %}
<div class="container">
    <h1>Listings</h1>
    <div class="listings">
        
            <div class="listing">
                <h2>{{ listing.name }}</h2>
                <img src="{{ listing.image.url }}" alt="{{ listing.name }}" width="100">
                <p><strong>name:</strong> {{ listing.name }}</p>
                <p><strong>size:</strong> {{ listing.size }}</p>
                <p><strong>location:</strong> {{ listing.location }}</p>
                <p><strong>amenities:</strong> {{ listing.amenities }}</p>
                <p><strong>rental Price:</strong> Ksh{{ listing.rental_price }}</p>
                <p><strong>status:</strong> {{ listing.status }}</p>
                
            </div>
        
    </div>
</div>
{% endblock %}

 
