{% include 'commons/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        {% for listing in listings %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ listing.image.url }}" alt="{{ listing.name }}" class="card-img-top img-fluid">
                <div class="card-body">
                    <h5 class="card-title">{{ listing.property_name }}</h5>
                    <p class="card-text">{{ listing.location }}</p>
                    <a href="{% url 'update_listing' listing.id %}" class="btn btn-primary">UPDATE-EDIT</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

 
 
