{% block content %}
<div class="container">
    <div class="row">
        {% for listing in listings %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ listing.image.url }}" alt="{{ listing.name }}" class="card-img-top img-fluid">
                <div class="card-body">
                    <h5 class="card-title">{{ listing.name }}</h5>
                    <p class="card-text">{{ listing.address }}</p>
                    
                    <a href="/listing/{{ listing.id }}/" class="btn btn-primary">View Details</a>

                    <a href="listing/{{ listing.id }}/delete/" class="btn btn-primary">delete</a>

                    <a href="listing/{{ listing.id }}/edit/" class="btn btn-primary">edit</a>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
