{% block content %}
<div class="container">
    <h1>Listings</h1>
    <div class="listings">
        
            <div class="listing">
                <h2>{{ listing.name }}</h2>
                <img src="{{ listing.image.url }}" alt="{{ listing.name }}" width="100">
                <p><strong>Address:</strong> {{ listing.address }}</p>
                <p><strong>Size:</strong> {{ listing.size }}</p>
                <p><strong>Number of Rooms:</strong> {{ listing.num_rooms }}</p>
                <p><strong>Amenities:</strong> {{ listing.amenities }}</p>
                <p><strong>Rental Price:</strong> Ksh{{ listing.rental_price }}</p>
                <p><strong>Status:</strong> {{ listing.status }}</p>
                
            </div>
        
    </div>
</div>
{% endblock %}

